
.readline-wrap{
    padding: 5px;
    ul{
        margin: auto auto;
        border: 1px solid #999;
        background-color: #333;
        padding:1%;
        width: 90%;
        min-height: 500px;
        li{
            color: #fff;
            font-size: 20px;
            line-height: 24px;
        }
    }
}